.button-container {
  max-width: 250px;
  min-width: 150px;
  max-height: 70px;
  min-height: 50px;
  .btn {
    color: white;
    border: none;
    background-color: black;
    width: 100%;
    max-height: 100%;
    min-height: 40px;
  }
  button:disabled,
  button[disabled] {
    background-color: #868e96;
  }
}
