header{
    background-color: black;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    color:white
}


.buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 15vw;
}
.logo{

    display: flex;
    flex-direction: row;
    align-items: center;
    
}
.cart{
    display: flex;
    flex-direction: row;
    align-items: center;
    
}
.signin {
    display: flex;
    flex-direction: row;
    align-items: center;

}
