.product-details-container-parent {
  width: 100%;
  color: #495057;
  text-align: start;
  display: flex;
  justify-content: stretch;
  .product-details-container {
    width: 100%;
    display: flex;
    gap: 30px;
    flex-direction: column;
    align-items: flex-start;
    margin: 30px;

    a h4 {
      color: #343a40;
      font-family: "Lato";
      text-transform: uppercase;
    }
    a:link {
      text-decoration: none;
      color: #495057;
    }

    .product-details {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 40px;
      position: relative;
      .detail-img-color {
        width: 350px;
        height: 350px;
        background-color: rgba(73, 70, 70, 0.25);
        position: absolute;
        left: 0px;
        top: 0px;
        line-height: 16px;
      }
      img {
        width: 350px;
        height: 350px;
      }
    }
    .product-description {
      width: 250px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      justify-content: center;
      align-items: stretch;
      h1 {
        padding-bottom: 20px;
        color: #495057;
        text-transform: uppercase;
        font: bold 28px "Lato";
        border-bottom: #dee2e6 2px solid;
      }
      h3 {
        border-top: #dee2e6 2px solid;
        border-bottom: #dee2e6 2px solid;
        padding: 10px 0px;
      }
      p {
        font: bold 14px "Lato";
        line-height: 20px;
      }
    }

    .product-status {
      width: 250px;
      max-height: 200px;
      min-height: 150px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      .status-grid-item-left {
        min-height: 50px;
        display: flex;
        align-items: center;
        border: #dee2e6 2px solid;
        padding-left: 10px;
        border-right: none;
        border-bottom: #dee2e6 1px solid;
      }
      .status-grid-item-right {
        display: flex;
        align-items: center;
        padding-left: 10px;
        border: #dee2e6 2px solid;
        border-left: none;
        border-bottom: #dee2e6 1px solid;
      }
      .button-cover {
        border: #dee2e6 2px solid;
        border-top: #dee2e6 1px solid;
        padding: 10px;
        width: 100%;
        height: 60px;
        justify-self: center;
        align-self: stretch;
        grid-column: 1 / -1;
      }
    }
  }
}
