.product-details-container-parent {
  width: 100%;
  display: flex;
  justify-content: center;
  button {
    margin: 25px;
    width: 100px;
    height: auto;
  }
}

.product-details-container {
  width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  .product-details {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    img {
      width: 400px;
      height: 400px;
    }
  }
  .product-description {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 20%;
    margin-left: 40px;
  }

  .product-status {
    display: flex;
    flex-direction: column;
    align-items: center;

    .space {
      width: 200px;
      margin: 15px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    button {
      width: 90%;
      height: 40px;
      color: white;
      background-color: black;
    }
  }
}
