.cart-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    .cart-item-name {
        max-width: 200px;
    }

    .cart-item-detail {
        width: 50px;

        select {
            width: 100%;
            border: none;
        }
    }

    button {
        border: none;
    }

}